html {
	font-size: 18px;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Sansation", sans-serif;
	font-weight: 700;
	font-style: normal;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #292c2e;
	color: #33363a;
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;

	.part {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		min-height: 100vh;

		background: #292c2e;

		&.welcome {
			background: linear-gradient(
				0deg,
				rgba(41, 44, 46, 1) 0%,
				rgb(9, 12, 17) 100%
			);

			h2 {
				position: absolute;
			}
		}

		> article {
			display: flex;
			flex-direction: column;
			width: 60%;
			min-height: 100vh;

			color: #828b91;
			font-size: 1.5rem;

			h4,
			h5 {
				font-weight: bolder;
				margin-top: 3rem;

				text-align: center;
				color: #c7ddeb;
			}
			h5 {
				font-size: 1.7rem;
			}
			h4 {
				font-size: 2rem;
				text-shadow:
					#7ebcdf 0px 0px 3rem,
					#c7ddeb 0px 0px 1rem;
			}

			ul {
				padding-left: 2rem;
			}
		}

		> .tiles {
			width: 80%;
			height: 20rem;

			display: grid;
			grid-template: repeat(2, auto) / repeat(3, 31%);
			grid-auto-flow: row dense;
			column-gap: 3.5%;
			row-gap: 2rem;

			> .tile {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				text-decoration: none;
				color: #33363a;

				width: 100%;
				height: 100%;

				&:hover {
					filter: brightness(1.1);

					> h3 {
						color: #c7ddeb;
						text-shadow:
							#7ebcdf 0px 0px 3rem,
							#c7ddeb 0px 0px 1rem;
					}
				}

				> h3 {
					transition: all 0.3s ease-in-out;
				}
			}
		}

		span.arrow {
			font-size: 5rem;
			color: rgba(41, 44, 46, 1);
			animation: arrow-bounce 3s infinite ease-in-out;

			position: absolute;
			bottom: 15%;
		}
	}

	h2 {
		font-size: 8rem;
		top: 21%;

		font-family: "Lexend Deca", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;

		&.sub-title {
			font-size: 4rem;
			top: 55%;

			color: #c7ddeb;
			text-shadow:
				#7ebcdf 0px 0px 3rem,
				#c7ddeb 0px 0px 1rem;
		}
	}

	.perspective-box {
		width: 300px;
		height: 100px;
		perspective: 1200px;

		.shadow {
			position: absolute;
			top: 50%;
			width: 300px;
			height: 300px;
			border-radius: 50%;
			background-color: #c7ddeb15 !important;
			animation: shadow-bounce 10s forwards infinite ease-in-out;
			filter: blur(2rem);
		}
	}
	.box {
		transform-style: preserve-3d;
		width: 300px;
		height: 100px;
		position: relative;
		animation: spinning-box 10s forwards infinite linear;

		> div {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #00000000 !important;
		}
		.circle {
			position: absolute;
			transform-style: preserve-3d;
			width: 300px;
			height: 300px;
			border-radius: 50%;
			border: #c7ddeb 3px solid;
			background: #00000000 !important;

			&.horizontal {
				border: #c7ddeb 6px solid !important;
				&:nth-child(6) {
					width: 290px;
					height: 290px;
					transform: rotateX(90deg) translateZ(150px) translateX(5px);
				}
				&:nth-child(7) {
					width: 290px;
					height: 290px;
					transform: rotateX(90deg) translateZ(50px) translateX(5px);
				}
				&:nth-child(8) {
					width: 230px;
					height: 230px;
					transform: rotateX(90deg) translateZ(160px) translateX(35px);
				}
				&:nth-child(9) {
					width: 230px;
					height: 230px;
					transform: rotateX(90deg) translateZ(-30px) translateX(35px);
				}
				&:nth-child(10) {
					width: 300px;
					height: 300px;
					transform: rotateX(90deg) translateZ(100px);
				}
			}

			@for $i from 1 through 5 {
				&:nth-child(#{$i}) {
					transform: translateY(-100px) rotateY(72deg * $i);
				}
			}
		}
		.back,
		.front {
			position: absolute;
			width: 300px;
			height: 100px;
		}
		.front {
			transform: translateZ(150px);
			background-color: #3f4449;
		}
		.back {
			transform: rotateY(180deg) translateZ(150px);
			background-color: #1b1d1f;
		}
		.left,
		.right {
			position: absolute;
			background-color: #33363a;
			width: 300px;
			height: 100px;
		}
		.right {
			transform: rotateY(90deg) translateZ(150px);
		}
		.left {
			transform: rotateY(-90deg) translateZ(150px);
		}
		.bottom,
		.shadow,
		.top {
			position: absolute;
			width: 300px;
			height: 300px;
			top: 50px;
		}
		.top {
			transform: rotateX(90deg) translateZ(200px);
			background-color: #3f4449;
		}
		.bottom {
			transform: rotateX(-90deg) translateZ(-100px);
			background-color: #1b1d1f;
		}
		h1 {
			position: absolute;
			color: #dde9f0;
			text-shadow:
				#7ebcdf 0px 0px 3rem,
				#c7ddeb 0px 0px 1rem;

			transform: translateZ(30px);

			&.depth {
				color: #292c2e;
				text-shadow:
					#ffffff1e 2px 2px 0,
					#00000018 -2px -2px 0;
			}
		}
	}

	.text-banner {
		position: absolute;
		width: 300px;
		height: 300px;
		display: flex;
		transform-style: preserve-3d;
		transform: translateX(20px) translateY(-70px);

		$width: 42.5px;
		.panel {
			position: absolute;
			transform: translate(-50%, -50%) rotateY(var(--angle))
				translateZ(160px);
			width: $width;
			height: 70px;
			border: #c7ddeb 2px solid !important;
			border-left: none !important;
			border-right: none !important;
			background-color: #33363a;
			overflow: hidden;

			@for $i from 0 to 24 {
				&:nth-child(#{$i + 1}) {
					--left: #{$width * $i * -1};
					--angle: #{calc(360deg / 24 * $i)};
				}
			}
		}

		.panel::before {
			position: absolute;
			left: var(--left);
			content: "ATLAS ATLAS ATLAS ATLAS ATLAS";
			font-size: 59px;
			width: max-content;
			color: #dde9f0;
		}
	}
}

span.snippet {
	display: flex;
	justify-content: space-between;

	padding: 0.2rem 1rem;
	margin: 1rem 0;
	font-size: 1.5rem;
	color: #c7ddeb;
}

nav {
	position: fixed;
	right: 1rem;
	top: 1rem;
	z-index: 100;

	width: 18%;
	height: min-content;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	ul {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;

		width: 100%;
		padding-left: 1rem;

		li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			a {
				font-size: 1.2rem;
			}
		}
	}

	> ul {
		row-gap: 1rem;
	}
}

a {
	transition: all 0.3s ease-in-out;
	color: #515457;

	&:hover {
		color: #c7ddeb;
		text-shadow:
			#7ebcdf 0px 0px 3rem,
			#c7ddeb 0px 0px 1rem;
		cursor: pointer;
	}
}

.toast {
	position: fixed;
	z-index: 100;
	top: -4rem;
	margin: 0 auto;

	background-color: #baf0bf;
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;

	transition: top 0.2s ease-in-out;

	&.active {
		top: 2rem;
	}
}

.gradient-box {
	background-clip: padding-box, border-box;
	background-image:
		linear-gradient(0deg, #2e3235, #292c2e 80%),
		linear-gradient(
			0deg,
			rgba(35, 39, 41, 0.8) 0%,
			rgba(9, 12, 17, 0.6) 100%
		);
	background-origin: border-box;

	border-radius: 1rem;
	border: 3px solid transparent;
}

.error-msg {
	color: #f0dddd;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:
		#df7e7e 0px 0px 3rem,
		#ebc7c7 0px 0px 1rem;
}

@keyframes spinning-box {
	0% {
		transform: rotateX(10deg) rotateZ(10deg) rotateY(0deg);
	}
	100% {
		transform: rotateX(10deg) rotateZ(10deg) rotateY(-359deg);
	}
}

@keyframes shadow-bounce {
	0% {
		transform: rotateX(-90deg) rotateX(-20deg) translateY(50px)
			translateZ(20px);
	}
	50% {
		transform: rotateX(-90deg) rotateX(-20deg) translateY(50px)
			translateZ(60px);
	}
	100% {
		transform: rotateX(-90deg) rotateX(-20deg) translateY(50px)
			translateZ(20px);
	}
}

@keyframes arrow-bounce {
	0% {
		bottom: 15%;
	}
	50% {
		bottom: 13%;
	}
	100% {
		bottom: 15%;
	}
}
