html {
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #292c2e;
	color: #ddddf0;
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:
		#7e7edf 0px 0px 3rem,
		#c7c7eb 0px 0px 1rem;

	h2 {
		position: absolute;
		font-size: 8rem;
		top: 26%;
	}

	.perspective-box {
		width: 300px;
		height: 100px;
		perspective: 1200px;
	}
	.box {
		transform-style: preserve-3d;
		width: 300px;
		height: 100px;
		position: relative;
		animation: spinning-box 10s forwards infinite linear;

		> div {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.back,
		.front {
			position: absolute;
			width: 300px;
			height: 100px;
		}
		.front {
			transform: translateZ(150px);
			background-color: #3f4449;
		}
		.back {
			transform: rotateY(180deg) translateZ(150px);
			background-color: #1b1d1f;
		}
		.left,
		.right {
			position: absolute;
			background-color: #33363a;
			width: 300px;
			height: 100px;
		}
		.right {
			transform: rotateY(90deg) translateZ(150px);
		}
		.left {
			transform: rotateY(-90deg) translateZ(150px);
		}
		.bottom,
		.shadow,
		.top {
			position: absolute;
			background-color: #25282b;
			width: 300px;
			height: 300px;
			top: 50px;
		}
		.top {
			transform: rotateX(90deg) translateZ(200px);
		}
		.bottom {
			transform: rotateX(-90deg) translateZ(-100px);
		}
		.shadow {
			background-color: #1b1d1fe7;
			transform: rotateX(-90deg) rotateX(-20deg) translateY(50px);
			filter: blur(2rem);
		}
		h1 {
			color: #dde9f0;
			text-shadow:
				#7ebcdf 0px 0px 3rem,
				#c7ddeb 0px 0px 1rem;
		}
	}
}

.error-msg {
	color: #f0dddd;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:
		#df7e7e 0px 0px 3rem,
		#ebc7c7 0px 0px 1rem;
}

@keyframes spinning-box {
	0% {
		transform: rotateY(0deg) rotateX(20deg);
	}
	100% {
		transform: rotateY(-359deg) rotateX(20deg);
	}
}
