html {
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Sansation", sans-serif;
	font-weight: 700;
	font-style: normal;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #292c2e;
	color: #33363a;
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;

	h2 {
		position: absolute;
		font-size: 8rem;
		top: 20%;

		font-family: "Lexend Deca", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}

	.perspective-box {
		width: 300px;
		height: 100px;
		perspective: 1200px;

		.shadow {
			position: absolute;
			top: 50%;
			width: 300px;
			height: 300px;
			border-radius: 50%;
			background-color: #c7ddeb0e !important;
			animation: shadow-bounce 10s forwards infinite ease-in-out;
			filter: blur(2rem);
		}
	}
	.box {
		transform-style: preserve-3d;
		width: 300px;
		height: 100px;
		position: relative;
		animation: spinning-box 10s forwards infinite linear;

		> div {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #00000000 !important;
		}
		.circle {
			position: absolute;
			transform-style: preserve-3d;
			width: 300px;
			height: 300px;
			border-radius: 50%;
			border: #c7ddeb 3px solid;
			background: #00000000 !important;
			// background: linear-gradient(
			// 	0deg,
			// 	rgba(27, 29, 31, 1) 50%,
			// 	rgba(63, 68, 73, 1) 60%
			// );

			&.horizontal {
				border: #c7ddeb 6px solid !important;
				&:nth-child(6) {
					width: 290px;
					height: 290px;
					transform: rotateX(90deg) translateZ(150px) translateX(5px);
				}
				&:nth-child(7) {
					width: 290px;
					height: 290px;
					transform: rotateX(90deg) translateZ(50px) translateX(5px);
				}
				&:nth-child(8) {
					width: 230px;
					height: 230px;
					transform: rotateX(90deg) translateZ(160px) translateX(35px);
				}
				&:nth-child(9) {
					width: 230px;
					height: 230px;
					transform: rotateX(90deg) translateZ(-30px) translateX(35px);
				}
				&:nth-child(10) {
					width: 300px;
					height: 300px;
					transform: rotateX(90deg) translateZ(100px);
				}
			}

			@for $i from 1 through 5 {
				&:nth-child(#{$i}) {
					transform: translateY(-100px) rotateY(72deg * $i);
				}
			}
		}
		.back,
		.front {
			position: absolute;
			width: 300px;
			height: 100px;
		}
		.front {
			transform: translateZ(150px);
			background-color: #3f4449;
		}
		.back {
			transform: rotateY(180deg) translateZ(150px);
			background-color: #1b1d1f;
		}
		.left,
		.right {
			position: absolute;
			background-color: #33363a;
			width: 300px;
			height: 100px;
		}
		.right {
			transform: rotateY(90deg) translateZ(150px);
		}
		.left {
			transform: rotateY(-90deg) translateZ(150px);
		}
		.bottom,
		.shadow,
		.top {
			position: absolute;
			width: 300px;
			height: 300px;
			top: 50px;
		}
		.top {
			transform: rotateX(90deg) translateZ(200px);
			background-color: #3f4449;
		}
		.bottom {
			transform: rotateX(-90deg) translateZ(-100px);
			background-color: #1b1d1f;
		}
		h1 {
			position: absolute;
			color: #dde9f0;
			text-shadow:
				#7ebcdf 0px 0px 3rem,
				#c7ddeb 0px 0px 1rem;

			transform: translateZ(30px);

			&.depth {
				color: #292c2e;
				text-shadow:
					#ffffff1e 2px 2px 0,
					#00000018 -2px -2px 0;
			}
		}
	}

	.text-banner {
		position: absolute;
		width: 300px;
		height: 300px;
		display: flex;
		transform-style: preserve-3d;
		transform: translateX(20px) translateY(-70px);

		$width: 42.5px;
		.panel {
			position: absolute;
			transform: translate(-50%, -50%) rotateY(var(--angle))
				translateZ(160px);
			width: $width;
			height: 70px;
			border: #c7ddeb 2px solid !important;
			border-left: none !important;
			border-right: none !important;
			background-color: #33363a;
			overflow: hidden;

			@for $i from 0 to 24 {
				&:nth-child(#{$i + 1}) {
					--left: #{$width * $i * -1};
					--angle: #{calc(360deg / 24 * $i)};
				}
			}
		}

		.panel::before {
			position: absolute;
			left: var(--left);
			content: "ATLAS ATLAS ATLAS ATLAS ATLAS";
			font-size: 59px;
			width: max-content;
			color: #dde9f0;
		}
	}
}

.error-msg {
	color: #f0dddd;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:
		#df7e7e 0px 0px 3rem,
		#ebc7c7 0px 0px 1rem;
}
@keyframes spinning-box {
	0% {
		transform: rotateX(10deg) rotateZ(10deg) rotateY(0deg);
	}
	100% {
		transform: rotateX(10deg) rotateZ(10deg) rotateY(-359deg);
	}
}

@keyframes shadow-bounce {
	0% {
		transform: rotateX(-90deg) rotateX(-20deg) translateY(50px)
			translateZ(20px);
	}
	50% {
		transform: rotateX(-90deg) rotateX(-20deg) translateY(50px)
			translateZ(60px);
	}
	100% {
		transform: rotateX(-90deg) rotateX(-20deg) translateY(50px)
			translateZ(20px);
	}
}
