html {
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #292c2e;
}

.title {
	color: #ddddf0;
	font-size: 4rem;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:
		#7e7edf 0px 0px 3rem,
		#c7c7eb 0px 0px 1rem;
}

.error-msg {
	color: #f0dddd;
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:
		#df7e7e 0px 0px 3rem,
		#ebc7c7 0px 0px 1rem;
}
